$titletext: rgb(143, 204, 255);
$largetext: rgb(175, 219, 255);
$answers: rgb(193, 193, 255);

.title {
  color: $titletext;
  font-weight: 500;
  font-size: xx-large;
  text-shadow: 2px 2px 3px black;
}

.answers {
  color: $answers;
  font-size: medium;

}