$titletext: rgb(143, 204, 255);
$largetext: rgb(175, 219, 255);
$answers: rgb(193, 193, 255);

// .title {
//   color: $titletext;
//   font-weight: 500;
//   font-size: xx-large;
//   text-shadow: 2px 2px 3px black;
// }

.theQuestion {
  color: $largetext;
  font-weight: 500;
  font-size: x-large;
  text-shadow: 2px 2px 3px black;
}

.choiceList {
  list-style: none;
  padding-top: 1em;
 // text-shadow: 2px 2px 3px black;
}

.choiceValue {
  font-size: larger;
  margin-left: 1em;
  color: $answers;
  text-shadow: 2px 2px 3px black;
}

